---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<!--
  Sitemap-Index fuer fg-realestate.de.
  Fuenf thematische Teil-Sitemaps statt einer Liste: der Abschnitt, in dem eine
  URL steht, sagt einer Maschine, worum es auf der Seite geht, bevor sie die
  Seite abruft. Erzeugt aus der Collection `sitemapSections` in .eleventy.js.
-->
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for section in collections.sitemapSections %}
  <!-- {{ section.title }}: {{ section.count }} URLs -->
  <sitemap>
    <loc>https://fg-realestate.de/sitemap-{{ section.key }}.xml</loc>
    <lastmod>{{ section.lastmod }}</lastmod>
  </sitemap>
{%- endfor %}
</sitemapindex>
