---
layout: base.njk
title: Investitionsrechner im F&G Investment Lab
permalink: investitionsrechner.html
robots: noindex,follow
---
<section class="legacy-redirect"><h1>Der Investitionsrechner ist umgezogen.</h1><p>Sie finden den vollständigen Rechner jetzt direkt im F&G Investment Lab.</p><a class="btn-85" href="/investment-lab.html#investitionsrechner">Zum Investitionsrechner</a></section>
<script>location.replace('/investment-lab.html#investitionsrechner');</script>
